@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+HU:wght@100..400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
}
.font-300{
  font-weight: 600;
}
 input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    height:18px;
    width:18px;
    background:#4f46e5; /* purple */
    border-radius:50%;
    cursor:pointer;
  }
  /* Mobile */
@media (max-width: 640px) {
  .headerdiv .headertext,.passinput{
    font-size: 18px;
  }
  .headerp{
    font-size: 14px;
  }
  .maincard{
    width: auto;
  }
  .card-div{
    flex-direction: column;
  }
  .card-div .btn-div{
        margin-top: 8px;
justify-content: end;  }
  .card input[range],
  .card{
    width: auto;
  }
}

/* Tablet */
@media (min-width: 641px) and (max-width: 1024px) {
  .headertext,.passinput{
    font-size: 20px;
  }
  .headerp{
    font-size: 14px;
  }
    .maincard{
    width: auto;
  }
  .card input[range],
  .card{
    width: auto;
  }
  .card input[checkbox]{
    flex-wrap: wrap;
  }
     .card .inputs{
    flex-wrap: wrap;
  }
}

/* Desktop */
@media (max-width: 1025px) {
  .headertext,.passinput{
    font-size: 24px;
  }
    .headerp{
    font-size: 16px;
  }
    .maincard{
    width: auto;
  }
   .card .inputs{
    flex-wrap: wrap;
  }
}
